body {
    line-height: normal;
    color: #FFFFFF;
}

.container {
    max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}

:root {
    font-family: 'Inter', sans-serif;
    font-family: 'Italiana', sans-serif;
    --primary-color: #FFFFFF;
    --secondary-color: #202023;
    --button-color: #B47B48; 
    --list-button-color: #C85312;
    --list-button-color-hover: #EBAD51;
}

.header {
    top: 55px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.header-link {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    font-size: 24px;
    font-weight: 200;
}

.header-link:hover {
    color: #B47B48;
}

.header-list {
    display: flex;
	justify-content: left;
    gap: 30px;
}

.page-banner-container {
    z-index: 2;
    position: relative;
}

.page-banner {
    background-image: url(../img/header-picture.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 155px;
    padding-bottom: 35px;
    position: relative;
}

.page-banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000 8.51%, rgba(3, 3, 3, 0.00) 50.16%);
    left: 0;
    top: 0;
}

.right {
    display: flex;
    gap: 35px;
}

.page-banner-item-wrapper {
    display: flex;
    flex-direction: column;
}

.page-banner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
}

.page-banner-title {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 200;
    margin-top: 71px;
}

.page-banner-text {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 300;
    max-width: 570px;
}

.page-banner-button {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #B47B48;
    border-radius: 17px;
    display: inline-flex;
    align-items: center;
    padding: 11px 34px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 125px;
}

.page-banner-button:hover {
    background-color: transparent;
    color: #B47B48;
}

.page-banner-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.page-banner-list {
    display: flex;
	flex-wrap: wrap;
	gap: 100px;
}

.left-image {
    height: 220px;
    width: 220px;
}

.page-banner-item {
    display: flex;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 30px;
    background-color: #202023;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.page-banner-price {
    font-size: 24px;
    font-weight: 200 ;
    margin-bottom: 13px;

}

.page-banner-item-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 34px;
}


.page-banner-list-button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 900;
    background-color: #C85312;
    display: inline-flex;
    padding: 7px 22px;
    cursor: pointer;
}

.page-banner-item:hover {
    transform: scale(1.2);
    background-color: #EBAD51;
}

.page-menu {
    background-color: #202023;
}

.page-menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.page-menu-item {
    display: flex;
    flex-direction: column;
    gap: 50px  ;
}

.page-menu-wrapper {
    background-color: #202023;

    padding: 10px;
    border: 2px solid #FFFFFF;
}

.page-menu-title {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-menu-list-tittle {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 800;
}

.page-menu-list-button {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 800px;
    background-color: #B47B48;
    display: inline-flex;
    padding: 5px 43px;
    cursor: pointer;
    
}

.page-menu-list-button:hover {
    background-color: transparent;
    color: #B47B48;
    transition: all 0.3s ease 0s;
}

.page-menu-wrapper-img1 {
    width: 295px;
    height: 185px;
}

.page-menu-wrapper-img2 {
    width: 285px;
    height: 185px;
}

.page-menu-wrapper-img3 {
    width: 230px;
    height: 185px;
}


.page-menu-wrapper-img4 {
    width: 230px;
    height: 185px;
}